body {
	background-image: url("../images/background.png");
    background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* centers content vertically */
	height: 100vh; /* set body height to full viewport height */
}

#demoContainer {
    position: fixed;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}
#connectControls {
    display: none;
}
#otherClients {
    display: none;
}
#selfVideo {
    display: none;
}

#videos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
}

#callerVideo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.easyrtc_closeButton {
    display: hidden;
}