:root {
	--green: #b8d953;
	--lilac: #b2b2eb;
	--pink: #bb86e9;
	--dark-green: #529a91;
	--peach: #fe96b7;
	--black: #191819;
	--grey: #2a292a;
	--white: #d9d9d9;
  }
  
  * {
	margin: 0;
  }
  
  body {
	background-image: url("/img/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* centers content vertically */
	height: 100vh; /* set body height to full viewport height */
  }
  
  h1 {
	font-family: "Press Start 2P", sans-serif;
	font-size: 66px;
	text-align: center;
	font-weight: 100;
	margin: 10px 20px 0 0;
	margin-bottom: 10px;
  }
  
  .progress-bar {
	position: relative;
	height: 70px;
	width: 500px;
	outline: 10px solid #000000;
	margin-top: 40px;
  }

  .progress-fill {
	position: absolute;
	height: 70px;
	width: 500px;
	animation: progress-forward 7s infinite;
	background: linear-gradient(to right, #000000 50%, #000000 50%);
	background-size: 200% 100%;
	border: 10px solid rgba(0, 0, 0, 0);
}
  
  @keyframes progress-forward {
	0% {
	  width: 0%;
	}
	25% {
	  width: 50%;
	}
	50% {
	  width: 75%;
	}
	75% {
	  width: 85%;
	}
	100% {
	  width: 100%;
	}
  } ;
  